
:root {
  --main-text-color: #757575;
  --title-link-color: #212121;
  --accent-color: #2196F3;
  --background-light-color: #F5F4FA;
  --background-dark-color: #2F303A;
  --white-color: #ffffff;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*body*/

body {
  color: var(--main-text-color);

  margin: 0;
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*list*/

.list {
  margin: 0;
  list-style: none;
}

/*header*/

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

/*logo*/

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.nav-logo {
  color: #000000;
}

/*navigation*/

.nav {
  display: flex;
  align-items: center;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-link-color);

  transition: color 250ms var(--transition-timing);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list__link:hover,
.nav-list__link:focus
 {
  color: var(--accent-color);
}

.current-link {
  position: relative;
  color: var(--accent-color);
}

.current-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

/*contacts*/

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__item {
  display: flex;
  align-items: center;
}

.contacts-list__item + .contacts-list__item {
margin-left: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  fill: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms var(--transition-timing), 
  fill 250ms var(--transition-timing);
  }

.contacts-list__link:hover,
.contacts-list__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

.contacts-list__icon {
  margin-right: 10px;
  
}

/*hero*/

.hero-section {
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;
  width: auto;
  text-align: center;
  background-image: linear-gradient(to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), 
  url(../images/Overlay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-dark-color);
}

.hero-title {
  width: 600px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  }

.hero-button {

  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  cursor: pointer;
  text-decoration: none;

}

/*section*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  color: var(--title-link-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.section h2 {
  text-align: center;
}

/*advantages*/

.advantages-list {
  display: flex;
}

.advantages-list__item {
  width: 270px;
}

.advantages-list_block_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--background-light-color);
  margin-bottom: 30px;
}

.advantages-list__item + .advantages-list__item {
  margin-left: 30px;
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-link-color);
}

/*job profile*/

.job-profile-list {
  display: flex;
}

.job-profile-section {
  padding-top: 0;
}

.job-profile-list__item {
  width: 370px;
  position: relative;
}

.job-profile-list__item + .job-profile-list__item {
  margin-left: 30px;
}

.job-profile-list__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0 0;
  padding: 27px 20px;
 
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);

  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
}

/*our team*/

.our-team-section {
  background-color: var(--background-light-color);
}

.our-team-list {
  display: flex;
}

.our-team-list__item {
  width: 270px;
  background-color: white;
  box-shadow: 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list__item + .our-team-list__item {
  margin-left: 30px;
}

.our-team-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--title-link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  text-transform: capitalize;
}

.our-team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 1.18;
}

.our-team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/*social list link*/

.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color 250ms var(--transition-timing);
}

.social-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--transition-timing);
}

.social-links-list__link:hover,
.social-links-list__link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.social-links-list__link:hover .social-links-list__icon,
.social-links-list__link:focus .social-links-list__icon {
  display: block;
  fill: white;
  cursor: pointer;
}

/*regular customers*/

.regular-customers-list {
  display: flex;
}

.regular-customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition: border-color 250ms var(--transition-timing);
}

.regular-customers-list__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-list__link:hover,
.regular-customers-list__link:focus { 
  border-color: var(--accent-color);
  cursor: pointer;
}

.regular-customers-list__link:hover .icon,
.regular-customers-list__link:focus .icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.regular-customers-list__link .icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;

  transition: fill 250ms var(--transition-timing);
}

/*portfolio filter*/

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list__item + .portfolio-list__item {
  margin-left: 8px;
}

.portfolio-button {
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  background-color: var(--background-light-color);
  color: var(--title-link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: background-color 250ms var(--transition-timing), 
  color 250ms var(--transition-timing),
  box-shadow 250ms var(--transition-timing);

  cursor: pointer;
  text-decoration: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
  }

/*clients*/

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 0;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  padding: 63px 24px;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--transition-timing),
  opacity 250ms var(--transition-timing),
  box-shadow 250ms var(--transition-timing);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.clients-picture-block {
  position: relative;
  overflow: hidden;
}

.clients-list > .item:nth-child(3n) {
  margin-right: 0;
}

.clients-list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.clients-list-link {
  display: block;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;

  transition: box-shadow 250ms var(--transition-timing);
}

.clients-list-link:hover,
.clients-list-link:focus {
  box-shadow: 0px 1px 1px
  rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.clients-list-link:hover .item-overlay,
.clients-list-link:focus .item-overlay {
  transform: translateY(0);
  opacity: 1;
}

.clients-list-desc {
  width: 370px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.clients-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-link-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  text-decoration: none;

}

.clients-list-link .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}

/*footer*/

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-dark-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-block-address {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-address {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-list {
  margin-top: 9px;
  text-decoration: none;
}

.footer-list__item:first-child {
  margin-bottom: 9px;
}

.footer-link {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-links-color);
  text-decoration: none;

  transition: color 250ms var(--transition-timing);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/*footer social links list*/

.footer-social-list__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-links-list {
  margin-top: 0;
  margin-right: 93px;
}

.footer-social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list__icon {
  fill: var(--white-color);
}

/*footer submit form*/

.footer-submit-form {
  display: flex;
  flex-direction: column;
}

.footer-submit-form__input-wrapper {
  display: flex;
  align-items: center;
}

.footer-submit-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-color);
  background: none;
  outline: none;
}

.footer-submit-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0,6);
}

.footer-submit-form-button {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  padding: 10px 29px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-submit-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-right: 10px;
}

/*backdrop and modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);

  transition: transform 250ms var(--transition-timing),
  opacity 250ms var(--transition-timing),
  visibility 250ms var(--transition-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  transition: fill 250ms var(--transition-timing);
}

.close-button:hover .close-button-icon {
  fill: var(--accent-color)
}

/*modal form*/

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-link-color);
}

.modal-form-field {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.modal-form-item {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;

  transition: border-color 250ms var(--transition-timing);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--main-text-color);
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--title-link-color);

  transition: fill 250ms var(--transition-timing);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-message::placeholder {
  color: rgba(85, 85, 85, 0.5);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-link-color);
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form-btn {
  align-self: center;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
}
