
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
  
    transition: transform 250ms var(--transition-timing),
    opacity 250ms var(--transition-timing),
    visibility 250ms var(--transition-timing);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
  }
  
  .backdrop-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--white-color);
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  
    &:hover .close-button-icon {
    fill: var(--accent-color)
  }
  }

  .close-button-icon {
    transition: fill 250ms var(--transition-timing);
  }
  
