
.header {
    border-bottom: 1px solid #ECECEC;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
.nav {
    display: flex;
    align-items: center;
  }
  
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-link-color);
  
    transition: color 250ms var(--transition-timing);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
  &:hover, &:focus {
    color: var(--accent-color);
  }
  }
  
  .current-link {
    position: relative;
    color: var(--accent-color);
    
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

  .nav__list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
  
  .nav__item {
    
  &:not(:last-child) {
    margin-right: 50px;
  }
}
 
  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .contacts-list__item {
    display: flex;
    align-items: center;
  }
  
  .contacts-list__item + .contacts-list__item {
  margin-left: 50px;
  }
  
  .contacts-list__link {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    fill: var(--main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
  
    transition: color 250ms var(--transition-timing), 
    fill 250ms var(--transition-timing);
    
  &:hover,
  &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  .contacts-list__icon {
    margin-right: 10px;
    }
  