.our-team {
    background-color: var(--background-light-color);
  }
  
  .our-team__list {
    display: flex;
  }
  
  .our-team__item {
    width: 270px;
    background-color: white;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .our-team__item + .our-team__item {
    margin-left: 30px;
  }
  
  .our-team__title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    color: var(--title-link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    text-transform: capitalize;
  }
  
  .our-team__text {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 1.18;
  }
  
  .our-team__description-block {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  