
.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-list__item + .portfolio-list__item {
    margin-left: 8px;
  }
  
  .portfolio-button {
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
    background-color: var(--background-light-color);
    color: var(--title-link-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
  
    transition: background-color 250ms var(--transition-timing), 
    color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
  
    cursor: pointer;
    text-decoration: none;
  }
  
  .portfolio-button:hover,
  .portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  