:root {
    --main-text-color: #757575;
    --title-link-color: #212121;
    --accent-color: #2196F3;
    --background-light-color: #F5F4FA;
    --background-dark-color: #2F303A;
    --white-color: #ffffff;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  }
  